<div class="row">
    <nav class="container fixed-top navbar navbar-expand-md">
        <a class="navbar-brand navbar-dark" href="{{ path('home') }}">
            {% block brand %}<i class="fa fa-home" aria-hidden="true"></i> Supper Shop!{% endblock brand %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogle" aria-controls="navbarTogle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogle">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <ul class="navbar-nav mr-auto ml-5">
                <li class="nav-item ml-2{{ 'home' == app.request.get('_route') ? ' active' : ''}}">
                    <a class="nav-link" href="{{path('home')}}">
                        {{ 'Nearby shops'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                <li class="nav-item ml-2{{ 'shop_preferred' == app.request.get('_route') ? ' active' : ''}}">
                    <a class="nav-link" href="{{path('shop_preferred')}}">
                        {{ 'Prefered Sops'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item ml-2{{ 'easyadmin' == app.request.get('_route') ? ' active' : ''}}">
                    <a class="nav-link" href="{{path('easyadmin')}}">
                        {{ 'administration'|trans({}) }}
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            <ul class="navbar-nav ml-auto mr-6">
                {% block header_navigation_links %}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{ path('fos_user_profile_show') }}" id="dropdownprofile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user" aria-hidden="true"></i>
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownprofile">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'Show Profile'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">{{ 'Edit Profile'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-unlock" aria-hidden="true"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item ml-2">
                            <a href="{{path('fos_user_security_login')}}" class="btn btn-sm btn-outline-primary">
                                <span class="caret"></span>
                                <span class="sr-only">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span>
                                <span>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span>
                            </a>
                        </li>
                        <li class="nav-item ml-2">
                            <a href="{{path('fos_user_registration_register')}}" class="btn btn-sm btn-outline-primary">
                                <span class="caret"></span>
                                <span class="sr-only">{{ 'layout.registert'|trans({}, 'FOSUserBundle') }}</span>
                                <span>{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endblock header_navigation_links %}
            </ul>
        </div>
    </nav>
</div>